@page "/courses"
@inject IJSRuntime jsRuntime
@inject ICourseService courseService

<div class="row mt-4">
    <div class="col-8">
        <h4 class="card-title text-info">
            Levels
        </h4>
    </div>
    <div class="col-3 offset-1">
        <NavLink href="courses/create" class="btn btn-info form-control">
            Add New
        </NavLink>
    </div>
</div>

<div class="row mt-4">
    <div class="col-12">        
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th> Category</th>
                    <th>Level Name</th>
                    <th>Active</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if(Courses.Any())
                {
                    foreach(var c in Courses)
                    {
                    <tr>
                        <td>
                            @c.CourseCategory.CategoryName
                        </td>
                        <td>
                            @c.CourseName
                        </td>
                        <td>
                                @if (c.IsActive)
                                {
                                    <span>Yes</span>
                                }
                                else
                                {
                                    <span>Yes</span>
                                }
                                
                            </td>
                        <td>
                            <a href="" class="btn btn-success">Edit</a>
                        </td>
                    </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

@code {
    private IEnumerable<CourseDto> Courses { get; set; } = new List<CourseDto>();
    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(5000);
        await LoadCourses();
        /*
        List<CourseDto> lstCourse = new List<CourseDto>();
        lstCourse.Add(new CourseDto { Id = 1, CourseCategory = "Primary", CourseName = "Pre School", IsActive = true });
        lstCourse.Add(new CourseDto { Id = 1, CourseCategory = "Secondary", CourseName = "Secondary 1", IsActive = true });
        lstCourse.Add(new CourseDto { Id = 1, CourseCategory = "Junior College", CourseName = "JC1", IsActive = true });
        Courses = lstCourse;
        */
    }
    private async Task LoadCourses()
    {
        Courses = await courseService.GetCourses();
    }
}
