@inherits LayoutComponentBase
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="page">
    
    <main>
       @* <div class="top-row px-4">
            <a href="/" target="_blank">Login</a>
        </div>*@
        <div class="top-row px-4">
            
            <a href="/public/studentregister"><i class="fa fa-fw fa-user"></i> Request a Tutor</a>
            <a href="/public/tutorregister"><i class="fa fa-fw fa-user"></i> Register as a Tutor</a>
            <a href="#"><i class="fa fa-fw fa-envelope"></i> Contact</a>
            <a href="/admin"><i class="fa fa-fw fa-user"></i>Admin Login</a>
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
